@import url('https://fonts.googleapis.com/css2?family=Puritan&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

/* font-family: 'Josefin Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');


/*QuickSand*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Quicksand:wght@300&display=swap');


/* Nanum Gothi */
/* font-family: "Nanum Gothic", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');



@media screen and (max-width: 660px) {

    div.displaylap,
    div.otherdetlap,
    div.scrolllap,
    div.topnav,
    a.resume,
    div.profile,
    div.fieldseteca,
    div.bottomlap {
        display: none;
    }
}

@media screen and (min-width: 660px) {

    div.displaymob,
    div.otherdetmob,
    div.scrollmob,
    div.bottomnav,
    div.profilemob,
    div.fieldsetecamob,
    div.bottommob {
        display: none;
    }
}



html {
    scroll-behavior: smooth;
    /* scroll-padding-top: 10%; */
}

body {
    margin: 0;
    background-color: #d9fcfc;
}





.resume {
    /* float: right; */
    font-family: 'Courier New', Courier, monospace;
}

.connectedinfo {
    text-align: center;
    font-size: 3vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media screen and (min-width: 661px) {
    a#resumebtn {
        margin-top: 0.75vw;
        margin-right: 2%;
        font-weight: lighter;
        font-size: medium;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        padding: 6px 12px;
        background-color: rgb(230, 85, 112);
        float: right;
        border: 1px solid red;
        border-radius: 1.5vw;
        text-decoration: none;

        transition-duration: 0.55s;

    }
}

a#resumebtn:hover {
    /* background-color: rgb(45,184,45); */
    background-color: rgb(230, 85, 112, 0.3);

    color: white;
    box-shadow: 0px 0px 8px #44619b;


}

#demolap {
    font-family: 'Dancing Script';
    opacity: 1;
    position: relative;
    background: linear-gradient(to right, #f32170,
    #ff6b08,#ff6b08, #cf23cf);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation-name: demoanimation;
    animation-duration: 2s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
}


@media screen and (min-width: 661px) {
    p#demolap {
        font-size: 5vw;
        margin-left: 5%;
        margin-right: 2%;
        line-height: 250%;
        /* letter-spacing: 5px; */

    }
}

@keyframes demoanimation {
    0% {
        color: red;
    }

    100% {
        color: green;
        /* opacity: 0; */
    }


}

@media screen and (max-width: 660px) {
    p#demolap {
        font-size: 7.5vw;
        text-align: center;
        line-height: 250%;
        /* letter-spacing: 50px; */
    }
}

.profile {
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    text-align: center;
    overflow: hidden;
    border-radius: 5px;
    background-color: white;
    animation-name: profileimageanimation;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}


@keyframes profileimageanimation {
    0% {
        opacity: 0;
        margin-top: 50%;
    }

    100% {
        margin-top: 0;
    }

}

@media screen and (min-width: 661px) {
    div.profile {
        /* border: 1px solid black; */
        padding: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
        max-width: 220px;
        left: 20px;
        text-align: center;
        /* margin: auto; */
        float: right;
        margin: 20px;
        overflow: hidden;
        border-radius: 5px;

    }
}



@media screen and (min-width: 661px) {
    img.profilepic {
        height: 250px;
        width: 200px;

    }
}


.profilemob {
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    text-align: center;
    margin: auto;
    overflow: hidden;
    border-radius: 5px;
    background-color: white;
    animation-name: profileimageanimation;
    animation-duration: 2s;


}


@media screen and (max-width: 660px) {
    div.profilemob {
        padding: 5px;
        padding-top: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
        max-width: 230px;
        text-align: center;
        margin: auto;
        overflow: hidden;
        border-radius: 5px;
    }
}


@media screen and (max-width: 660px) {
    img.profilepicmob {
        height: 250px;
        width: 210px;
    }
}

.resume:hover {
    background-color: rgba(219, 128, 128, 0.441);
    color: white;
}

.resume-download-icon {
    height: 10%;
    width: 10%;
}

.nametitle {
    font-family: 'Puritan', sans-serif;
    color: rgb(117, 148, 189);
    float: left;
}

@media screen and (min-width: 661px) {
    div.nametitle {
        font-size: 30px;
        margin-top: 1%;
    }
}

@media screen and (max-width: 660px) {
    div.nametitle {
        font-size: 20px;
    }
}

.topnav {
    overflow: hidden;
    /* background-color: #333; */
    /* background: linear-gradient(to left, rgb(45, 184, 45), rgb(45, 184, 45), rgb(45, 184, 45), rgb(255, 62, 62), rgb(255, 62, 62), rgb(255, 62, 62), rgb(255, 62, 62), rgb(255, 62, 62), rgb(255, 62, 62), rgb(255, 62, 62), rgb(255, 62, 62), rgb(255, 62, 62)); */

    background: linear-gradient(to left, rgb(57, 215, 57), rgb(57, 215, 57), #5779be, #5779be, #5779be, #5779be, #5779be, #5779be, #5779be, #5779be, #5779be);

    font-family: 'Quicksand';
    font-weight: bold;
    /* animation-name: topnavanimation;
    animation-duration: 4s;
    animation-fill-mode: forwards; */
}



.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.5vw;
}

.topnav a:hover {
    background-color: #dddddd70;
    /* background-color: rgb(45, 184, 45); */
    color: black;
    border-radius: 0px 2vw;
}






/* BOTTOM NAV FOR MOBILE */
.bottomnav {

    overflow: hidden;
    background-color: #1d1b1b;
    display: flex;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 105;
    font-family: 'Quicksand';
    font-weight: bold;

}


.bottomnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 12px;
    width: 100%;
}



.subheading {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    /* margin-left: 42%; */

}


@media screen and (min-width: 661px) {
    div.subheading {
        font-size: 40px;
        width: 15%;

    }
}

@media screen and (max-width: 660px) {
    div.subheading {
        font-size: 20px;
        width: 25%;

    }
}



.profname {
    font-family: 'Josefin Sans', sans-serif;

}

.scrollmob {
    /* border: 2px solid #333;
    margin: auto;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    position: relative;
    padding: 10px;
    animation: down 1.5s infinite;
    background-image: linear-gradient(to bottom, #6190e8, #a2b4d3); */
    margin: auto;
    text-align: center;
    font-size: 2.5vw;
    bottom: 0;
    /* margin-bottom: -5%; */
    font-family: 'Quicksand';
    animation-name: scrolldisplay;
    animation-duration: 1.2s;
    /* animation-delay: 7s; */
    animation-fill-mode: forwards;
    animation-iteration-count: 110;
    font-weight: bold;
    opacity: 0;
    /* position: fixed; */
}

@keyframes down {
    0% {
        transform: translate(0);
    }

    20% {
        transform: translateY(45px);
    }

    40% {
        transform: translate(0);
    }
}

@-webkit-keyframes down {
    0% {
        transform: translate(0);
    }

    20% {
        transform: translateY(45px);
    }

    40% {
        transform: translate(0);
    }
}


.scrolltext {
    margin: auto;
    text-align: center;
    font-size: 1.9vw;
    bottom: 0;
    /* margin-bottom: -5%; */
    font-family: 'Quicksand';
    animation-name: scrolldisplay;
    animation-duration: 1.2s;
    /* animation-delay: 7s; */
    animation-fill-mode: forwards;
    animation-iteration-count: 110;
    font-weight: bold;
    opacity: 0;
    /* position: fixed; */

}

@keyframes scrolldisplay {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
    
}




.menutitle {
    /* color: #ffff; */
    color: #d9fcfc;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #5779be;
    display: block;
    position: sticky;
    top: 0;
    padding-top: 1%;
    z-index: 100;
    /* font-weight: bold; */

}


@media screen and (min-width: 661px) {
    div.menutitle {
        font-size: 50px;
        text-shadow: 2px 2px #0000ff;


    }
}

@media screen and (max-width: 660px) {
    div.menutitle {
        font-size: 30px;
        text-shadow: 1px 1px #2424ff;


    }
}

.hello {
    text-indent: 10vw;
    font-size: 4vw;
    margin-left: 2%;
    margin-right: 1%;
    font-family: 'Quicksand', sans-serif;
}


@media screen and (min-width: 661px) {
    div.hello {
        font-size: 1.9vw;
    }
}

@media screen and (max-width: 660px) {
    div.hello {
        font-size: 4vw;

    }
}

.academics {
    margin: 0;
    text-align: left;
    font-family: 'Quicksand', sans-serif;
}


.course {
    color: rgb(74, 89, 165);
    /* text-decoration: underline; */
}


@media screen and (min-width: 661px) {
    li.course {
        font-size: 2vw;

    }
}

@media screen and (max-width: 660px) {
    li.course {
        font-size: 4vw;

    }
}



@media screen and (min-width: 661px) {

    li.institution,
    li.yearofpassing,
    li.score {
        color: gray;
        font-size: 1.2vw;

    }
}

@media screen and (max-width: 660px) {

    li.institution,
    li.yearofpassing,
    li.score {
        color: gray;
        font-size: 4vw;

    }
}





.skills {
    max-width: 90%;
    margin: auto;
    text-align: center;
    /* Center align the skills */
    align-items: center;
}



@media screen and (min-width: 661px) {
    div.skill {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 660px) {
    div.skill {
        margin-bottom: 8px;

    }
}

.skill-info {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    /* Align text to the left */
}






@media screen and (min-width: 661px) {
    div.skill-bar {

        width: 70%;
        /* Adjust width as needed */
        height: 15px;
        background-color: #a2a2a2;
        border-radius: 15px;
        overflow: hidden;


    }
}

@media screen and (max-width: 660px) {
    div.skill-bar {

        width: 70%;
        /* Adjust width as needed */
        height: 10px;
        background-color: #c9c9c9;
        border-radius: 7px;
        overflow: hidden;


    }
}


.skill-progress {
    height: 100%;
    /* line-height: 10px; */
    color: white;
    text-align: center;
    transition: width 1s ease-in-out;
    border-radius: 15px;
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
    font-style: italic;


}



@media screen and (min-width: 661px) {
    div.skill-progress {
        border-radius: 15px;
        font-size: 12px;


    }
}

@media screen and (max-width: 660px) {
    div.skill-progress {
        border-radius: 7px;
        font-size: 8px;

    }
}

.html {
    width: 85%;
    background-color: #48b3ff;
}


.css {
    width: 60%;
    background-color: #48b3ff;

}


.javascript {
    width: 25%;
    background-color: #48b3ff;

}

.reactjs {
    width: 20%;
    background-color: #48b3ff;

}



.python {
    width: 40%;
    background-color: #48b3ff;

}

.cpp {
    width: 60%;
    background-color: #48b3ff;

}



.php {
    width: 25%;
    background-color: #48b3ff;

}

.c {
    width: 50%;
    background-color: #48b3ff;

}



.mysql {
    width: 40%;
    background-color: #48b3ff;

}



.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
}

.flex-item {
    border: 1px solid tomato;
    background: rgb(247, 163, 148);
    margin-top: 10px;
    color: white;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);

}


@media screen and (min-width: 661px) {
    li.flex-item {
        border-radius: 10px;

        padding: 5px;
        width: 25%;
        height: 100px;
        line-height: 100px;
        /* font-weight: bold; */
        color: white;
        font-size: 1.5em;
        text-align: center;
        margin: 1%;

    }
}

@media screen and (max-width: 660px) {
    li.flex-item {
        padding: 5px;
        width: 40%;
        height: 50px;
        margin-top: 10px;
        line-height: 50px;
        color: white;
        /* font-weight: bold; */
        /* font-size: 3em; */
        text-align: center;
        border-radius: 5px;
        margin: 2%;
    }
}

.extracursection {
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 5%;
    width: 40%;
    background-color: rgba(153, 186, 186, 0.294)
}

.extracurriculartitle {
    font-size: 2em;
    /* background-color: #0000ff; */
    /* background-color: rgba(153, 186, 186, 0) */

}

.extracurricular {
    /* color: rgb(223, 181, 126); */
    color: rgb(196, 125, 33);

    font-size: 1.5em;
    padding: 10px;
}

.fieldseteca {
    align-items: center;
    margin: auto;
    font-family: 'Quicksand', sans-serif;
    /* text-align: center; */
}





.extracursectionmob {
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    margin: 4%;
    width: 84%;
    background-color: rgba(172, 202, 202, 0.294)
}

.extracurriculartitlemob {
    font-size: 5vw;
}

.extracurricularmob {
    color: rgb(196, 125, 33);
    font-size: 1em;
    /* padding: 10px; */
}

.fieldsetecamob {
    align-items: center;
    margin: auto;
    font-family: 'Quicksand', sans-serif;
}


.organizationmob,
.durationmob {
    font-size: 0.7em;
    /* color: red; */
}




.detailssection {
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 5%;
    width: 87.5%;
    background-color: rgba(153, 186, 186, 0.294);
}

.detailstitle {
    font-size: 2em;
}

.detailstable {
    text-align: center;
    align-items: center;
    margin: auto;
}


.fieldseteca {
    align-items: center;
    margin: auto;
    font-family: 'Quicksand', sans-serif;
    /* text-align: center; */
}



.detailstable {
    border: 1px solid black;
    border-collapse: collapse;
}


.detailstr {
    border: 1px solid black;
    padding: 10px;

}

.detailstd {
    color: #0000ff;
    border: 1px solid black;
    padding: 10px;

}



.detailssectionmob {
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 5%;
    width: 87.5%;
    background-color: rgba(153, 186, 186, 0.294);
}

.detailstitlemob {
    font-size: 9em;
}

.detailstablemob {
    text-align: center;
    align-items: center;
    margin: auto;
}


.fieldsetecamob {
    align-items: center;
    margin: auto;
    font-family: 'Quicksand', sans-serif;
    /* text-align: center; */
}



.detailstablemob {
    border: 1px solid black;
    border-collapse: collapse;
    font-family: 'Quicksand', sans-serif;
    font-size: 0.8em;
}


.detailstrmob {
    border: 1px solid black;

}

.detailstdmob {
    color: #0000ff;
    border: 1px solid black;
    padding: 10px;

}







@media screen and (max-width: 660px) {

    div.contactform {
        text-align: center;
        padding-top: 2%;
        padding-left: 0px;
        padding-right: 0px;
        font-family: 'Quicksand', sans-serif;
        /* opacity: 0.5; */
    }
}

@media screen and (min-width: 660px) {
    div.contactform {
        text-align: center;
        padding-top: 2%;
        padding-left: 0%;
        padding-right: 0%;
        padding-bottom: 2%;
        font-family: 'Quicksand', sans-serif;
        border: 1px solid #5779be;
        border-radius: 10px;
        background-color: rgba(87, 121, 190, 0.204);
        width: 40%;
        margin: 0 auto;

    }
}


.submitbutton {
    background-color: #d9f8f8;
    padding: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid #5779be;
    border-radius: 15px;
    transition: 1s;
}


.submitbutton:hover {
    background-color: #96b2e8;
    padding: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid #6283c5;
    border-radius: 15px;
    transition: 0.5s;
}




@media screen and (min-width: 661px) {
    input.contactinput {
        padding: 10px;
        padding-top: 15px;
        padding-bottom: 15px;
        width: 80%;
        border: 1px solid #5779be;
        border-radius: 8px;
        background-color: #e9f2f3;
        font-family: 'Quicksand', sans-serif;
        font-size: 1vw;


    }
}

@media screen and (max-width: 660px) {
    input.contactinput {
        padding: 3%;
        margin-bottom: 1%;
        width: 85%;
        border: 1px solid #5779be;
        border-radius: 3px;
        background-color: #e9f2f3;
        font-family: 'Quicksand', sans-serif;

    }
}


@media screen and (max-width: 660px) {
    textarea.contactinput {
        padding: 3%;
        padding-bottom: 1px;
        width: 85%;
        border: 1px solid #5779be;
        border-radius: 3px;
        background-color: #e9f2f3;
        font-family: 'Quicksand', sans-serif;

    }
}


@media screen and (min-width: 661px) {
    textarea.contactinput {
        padding: 10px;
        padding-top: 15px;
        padding-bottom: 15px;
        width: 80%;
        border: 1px solid #5779be;
        border-radius: 8px;
        background-color: #e9f2f3;
        font-family: 'Quicksand', sans-serif;
        font-size: 1vw;


    }
}



.contactinput:hover,
.contactinput1:hover {
    background-color: #ffffff;

}

.contactinput1 {
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    /* width: 1000%; */
    font-family: 'Quicksand', sans-serif;

    border-radius: 8px;
    background-color: #e9f2f3;
}




.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active,
.collapsible:hover {
    background-color: #555;
}



.plus {
    float: right;
}

.live {
    font-size: small;
    color: #fe723f;
    text-decoration: none;
}

a.live:hover {
    text-decoration: underline;
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
    font-family: 'Quicksand', sans-serif;
}

.boldtext {
    color: red;
    font-style: italic;
    /* font-weight: bolder; */
}


.connections {
    margin: auto;
    align-items: center;
    display: flex;
    /* width: 50%; */
    background-color: #333;
    display: flex;
    justify-content: center;
}


.connections a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 12px;
    width: 100%;
}

.connections img {
    width: 30px;
}


.bottominfo {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    width: 800%;
}


.bottominfo1 {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    /* width: 800%; */
}


.bottominfo,
.bottominfo1 {
    font-family: 'Quicksand';
    font-size: small;
}



input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    /* Chrome, Safari, Edge, Opera */

}
